<section id="bounty" class="container-fluid py-5 px-lg-5">
    <div class="container">
      <div class="text-center mb-5">
        <h2 class="display-5 fw-800 mb-0">
          The <span class="text-danger">Prize</span> Bounties
        </h2>
        <p class="text-secondary font-monospace mt-2">
          TOTAL_REWARD_POOL
        </p>
      </div>
  
      <div class="row g-4 justify-content-center">
        <div class="col-md-4 mt-lg-5">
          <div class="track-card text-center" style="border-bottom: 3px solid #666;">
            <div class="card-grid-bg"></div>
            <span class="text-secondary font-monospace small">RANK_02</span>
            <h2 class="display-6 fw-bold my-3">₹5,000</h2>
            <p class="text-secondary small">Runner Up Reward + Each member receives 3 months of ElevenLabs Pro tier Membership ($99/month)</p>
          </div>
        </div>
  
        <div class="col-md-4">
          <div
            class="track-card text-center"
            style="border: 2px solid var(--accent); box-shadow: 0 0 40px rgba(255, 0, 0, 0.1);"
          >
            <div class="card-grid-bg"></div>
            <span class="text-danger font-monospace small">RANK_01</span>
            <h2 class="display-4 fw-bold my-3">₹20,000</h2>
            <p class="text-white small mb-4">Bounty Hunters</p>
            <div class="badge bg-danger rounded-0 px-3 py-2 w-100 font-monospace"
            style="font-size: 17px;">
              Grand Prize Winner
            </div>
          </div>
        </div>
  
        <div class="col-md-4 mt-lg-5">
          <div class="track-card text-center" style="border-bottom: 3px solid #666;">
            <div class="card-grid-bg"></div>
            <span class="text-secondary font-monospace small">ADDITIONAL_PERK</span>
            <h3 class="h2 fw-bold my-3">Mystery Box </h3>
            <p class="text-secondary small">
              All participants receive freebies and a chance to win 3 months of the ElevenLabs Creator tier ($22/month).

            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  