<div class="hero-canvas-wrapper" id="hero-trigger">

  <!-- Blizzard Canvas -->
  <canvas id="hero-blizzard"></canvas>

  <div class="ambient-glow"></div>
  <div class="bottom-gradient-mask"></div>

  <div class="hero-ui">
    <div class="hero-content text-center">
      <div class="status-pill mono">STRANGER THINGS × ACM SIST</div>

      <h1 class="main-title">VEXORA <span>26</span></h1>

      <p class="hero-subtitle">24-Hour Inter-College Hackathon</p>

      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSdGXvybD-DCu-gCj30oOtdOBTdUE6yfdqMZqRMS4lUk5U-HTA/viewform"
        target="_blank"
        class="btn btn-danger px-4 mt-4"
      >
        Register Now!
      </a>
    </div>
  </div>
</div>
